
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

.bg   { 
	 /*background: url(../images/bg/water-lg.jpg) no-repeat center center fixed; */
  background: #000;
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

a img { border: none; }
img { width:100%; }
.clear { clear:both; }


/**** header ****/

#header { 
  display:block; 
  position:fixed; 
  top:0; 
  width:100%; 
  min-height:42px; 
  -webkit-box-shadow:0px 0px 4px #000;
     -moz-box-shadow:0px 0px 4px #000;
          box-shadow:0px 0px 4px #000;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  border-left:1px solid #000;
  background:rgba(0,0,0,0.8);	
  z-index:200;
}

#logo{ 
    float: left;
    position: relative;
    display: inline-block;
    margin:5px 30px; 
}
  #logo h1 { 
      font-size:2.1em;
      color:#e8e5e5;
      font-weight:normal;
      font-family:'Michroma', sans-serif;
      text-shadow:0 0 1px #555;
  }


#search { 
  width: 220px;
  display:inline-block; 
  position: relative; 
  float:left; 
  margin: 6px 0 0 0;
  height: 30px;
  background: transparent url('../images/search.png') no-repeat;
  padding: 3px 0 0 25px;
  text-align: left;
}
  #search input[type=text] {
    background: transparent;
    width: 170px;
    border:0;
    margin: 4px 0;
    padding: 0 5px;
    color:#999; 
  }

/**** navigation ****/

#nav-main { 
    float: right;
    position: relative;
    display: inline-block;
    margin: 6px 10px;
}
#nav-main ul li {
    float:left;
    padding:0;
    display:block;
    background:none;
}
#nav-main ul li a {
  display:block;
  color: #fff; 
  padding: 5px;
  font-size: 1.2em; 
  cursor: pointer;
  float: right;
  font-weight: bold;  
  text-decoration:none;
}

#nav-main #nav-main-navigation {
  float:left;
  font-size:108%;
  text-transform:uppercase;
}
#nav-main #nav-main-navigation li {
  padding:0 10px;
  margin-bottom:0;
  position:relative;
  border-right:1px solid;
}
#nav-main #nav-main-navigation li:last-child { border:none; }
#nav-main #nav-main-navigation li a { color:#a6a6a6; }
#nav-main #nav-main-navigation li a:hover, 
#nav-main #nav-main-navigation li a.active { 
  color:#f2f2f2;
}

#nav-sub {
  height: 220px;
  display: block;
  overflow: hidden;
  clear: both;
}

  #nav-sub .menu-fit { margin-left:245px; }

  #nav-sub .submenu { height: 220px; overflow: hidden; }

.submenu .submenu-content {
  min-width: 120px;
  padding-top: 20px;
  display: block;
  margin-left: 20%;
}
  .submenu form {
    margin: 0;
  }
    .submenu form label { font-weight: bold; color: #F2F2F2; }
    .submenu form dt {
      width: auto;
      right: 125px;
      text-align: left;
      margin: 15px 0 5px;
      clear: both;
    }

    .submenu form dd {
      clear: both;
      position: static;
      top: -21px;
      left: 165px;
    }

/**** background image cell ****/

.bgimage {
  height: 40px;
  width: 40px;
  border: 1px solid #CCC;
  float: left;
  margin: 3px;
  cursor: pointer;
}

#brick   { background: url(../images/bg/brick.jpg) center center;  }
#cloud   { background: url(../images/bg/cloud.jpg) center center; }
#electro { background: url(../images/bg/electro.jpg) center center;  }
#glass   { background: url(../images/bg/glass.jpg) center center;  }
#glass2  { background: url(../images/bg/glass2.jpg) center center;  }
#grunge  { background: url(../images/bg/grunge.jpg) center center;  }
#light   { background: url(../images/bg/light.jpg) center center;  }
#light3  { background: url(../images/bg/light3.jpg) center center;  }
#paper   { background: url(../images/bg/paper.jpg) center center; }
#stucco  { background: url(../images/bg/stucco.jpg) center center;  }
#water   { background: url(../images/bg/water.jpg) center center;  }
#wood    { background: url(../images/bg/wood.jpg) center center; }


/**** main ****/

#main { margin:0; padding:45px 0; }

#wall {
  margin: 0;
  margin-left: 30px;
  padding: 10px;
  overflow:hidden;
  position:relative	
}

.box {
  float: left;
  width: 15%; 
  min-width: 160px;
  margin: 1em 5px 5px; 
  background-color: #fff;  
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

	.box:before,
	.box:after {
	    content:"";
	    position:absolute; 
	    z-index:-2;
	}

 .box:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
         border-radius:100px / 10px;
  } 

  .box:hover {
    background:#ddd;
    border-color:#ddd;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
     -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  }

  .content {
  	overflow:hidden;
  	position: relative;	
  }

  .description {
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .owner {
    font-size: 80%;
    color: #999;
  }

  .box a { 
    color: #999;
    text-decoration: none; 
    outline : none; 
  }

  .box a:hover {
    color: #777;
  }


/**** masonry transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/**** loading ****/

#loading {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  z-index: 99996; 
  background: rgba(0, 0, 0, 0.9);
}

  #loading img {
    position: absolute; 
    width: 160px; 
    height: 24px; 
    top: 50%; 
    left: 50%; 
    margin: -16px 0 0 -68px;
  }

/**** dialog box elements ****/

#overlay {
  position: fixed; 
  top:0; 
  left: 0; 
  width: 100%; 
  height: 100%;   
  z-index: 99997; 
  background: rgba(0,0,0,0.6);  
  display: none;
}

.popup-dlg {
  width: 320px; 
  position: fixed; 
  margin-left: -200px; 
  padding: 20px 55px 20px 20px; 
  top: 50%; 
  border: 1px solid #000;  
  background: rgba(0,0,0,.9);
  z-index: 99998; 
  display: none; 
  color: #fff;
  clear: both;
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.3);
     -moz-box-shadow: 0 4px 10px rgba(0,0,0,.3);
          box-shadow: 0 4px 10px rgba(0,0,0,.3);  
  -moz-border-radius: 6px / 5px;
       border-radius: 6px / 5px;  
}

  .popup-dlg h1 {
      padding:0 0 0.8em 0;
      text-transform:uppercase;
      font-size:1.2em;
  }

  .scroll-pane {
    overflow: auto;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
    font-size:13px;
  }

  .para h3{
      font-weight:bold;
      font-size:1.1em;
      padding:0 0 0.8em 0;
  }
  .para p {
      line-height:1.5em;
      margin-left: 0;
      padding-bottom:10px;
      font-size:10pt;
  }
  .para p.small { font-size:85%; }

  .divider{
      clear:both;
      margin:5px 20px 0 20px;
  }


/**** copying pirobox close style ***/

.close{
  position:absolute;
  display:block;
  top:10px;
  right:10px;
  height:35px;
  width:35px;
  background:url(css_pirobox/close_btn.png) no-repeat;
  cursor:pointer;
  z-index:100001;
}
  .close:hover {
    background:url(css_pirobox/close_btn_h.png) no-repeat;
  }  

a.zoom span {
  display:none;
  position: absolute;
  right:4px;
  bottom:7px;
  background:url(../images/magnify.png) no-repeat;
  width:23px;
  height:22px;
  display: none;
}

/**** override toTop background color ****/

#toTop, #toTopHover {
  background-color: rgba(0,0,0,0.8);
}



/**----------------------------------------**/
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) and (orientation:portrait) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */

  #logo{ margin:8px 3px; }
  #logo h1 { font-size:1.5em; }
  #nav-main ul li a { font-size: 1em; }
  #search { padding-right:0px; }
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
  #logo{ margin:8px 3px; }
  #logo h1 { font-size:1.5em; }
  #nav-main { margin: 6px 0; }
  #nav-main #nav-main-navigation li { padding: 0px; }
  #nav-main ul li a { font-size: 1em; padding: 2px; }
  #search { padding-right:0px; }
}


/* iPhone / iPad styles */
@media only screen and (max-device-width: 1024px) and (orientation:portrait), only screen and (max-device-width: 480px) and (orientation:portrait)  { 
    #toTop { display: none; }
    .popup-dlg { padding: 10px 55px 10px 10px; }
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape), only screen and (max-device-width: 480px) and (orientation:landscape) { 
    #toTop { display: none; } 
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}